body {
      background-image: url("img/laptop.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    h1{
   color: #fff;
   text-align: center;
   font-style: italic;

      }

      

   